BOT_TOKEN="Ваш токен для бота, полученный от @BotFather"
SHIKI_CLIENT_ID="Идентификатор OAuth2-приложения на Shikimori. Получить, создав приложение на странице Shikimori (https://shikimori.one/oauth/applications)"
SHIKI_CLIENT_SECRET="Секрет OAuth2-приложения на Shikimori. Получить, создав приложение на странице Shikimori (https://shikimori.one/oauth/applications)"
SHIKI_REDIRECT_URI="https://your-domain.com/shiki/callback"

NGROK_AUTHTOKEN="Токен аутентификации Ngrok берется из личного кабинета ngrok (https://dashboard.ngrok.com/get-started/your-authtoken)"
NGROK_REDIRECT_URI="Инициализируется автоматически при запуске бота вместе с ngrok. Присваивать напрямую только если есть постоянный id от ngrok"
